* {
    font-family: sans-serif;
}

img {
    float: left;
    clear: left;
    margin-right: 20px;
    padding: 10px;
}
h1 {
    color:#0033ff;
    font-size: 24pt;
    background-color:#f1f1f1;
    border: 2px solid #0033ff;
    padding: 10px;
    margin: 20px;
    margin-left:40px;
    margin-right:40px;
    text-align: center;
}
h2 {
    padding:10px;
}
h3 {
    color:#0099ff;
    padding:10px;
}
h4 {
    font-size: 20px;
    margin-left: 5em;
    padding:10px;
}
h5 {
    font-size:20px;
    text-align: center;
    padding: 20px
}
h5 a {
    text-decoration:none;
}
h5 a:hover {
    text-decoration: underline;
}
.education {margin-left: 12em;
}
.first::first-letter {
    font-size: 200%;
    font-family: serif;
}
p {
    padding:8px;
    margin-left:7px;
    margin-right: 7px;
}
.indent::first-line {
    text-indent: 18px;
}
body {
    background-color:#f1f1f1;
}
.past {
    color:darkgray;
}
.current {
    color:dodgerblue;
}
blockquote {
    padding-left:20px;
}
footer {
    font-size: 9pt;
    border-top: 2px solid black;
    padding-top: 5px;
}
footer:link {color:cornflowerblue}
    footer a:hover {color:green}
    footer a:focus {color:deeppink}
    footer a:visited {color:cadetblue}
    footer a:active {color:darkgrey}
    footer a {text-decoration: none; font-size: 10pt}
