.header {
    text-align: left;
    justify-content: none;
}
nav {
    justify-content: flex-end
}
nav ul {
    float:right;
}
nav ul li {
    float:right;
    list-style: none;
    position: relative;
}
nav ul li a {
    display:block;
    font-family: arial;
    color:#222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}
nav ul li ul {
    display:none;
    position:absolute;
 background-color:#e5d945;
    border-radius: 0px 0px 4px 4px;
    align-content: center;
}
nav ul li:hover ul {
    display:block;
}
nav ul li ul li {
    width:116px;
    width:
    border-radius: 4px;
    text-align: center;
}
nav ul li ul li a {
    padding: 14px 14px;
}
nav ul li ul li a:hover {
    background-color: #949494;
    color:white;
}
nav a:hover {
    display:block;
    background-color:#949494;
    position:relative;
    border-radius:5px;
    color:white;
}
label {
    margin:0 40px 00;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle {
    display:none;
}
.logo {
    display: inline-block;
    text-align: left;
    position: relative;
    right: 4em;
}
@media screen and (max-width:566px){
    label {
        display:block;
        cursor:pointer;
    }
    .menu {
        text-align: center;
        width:100%;
        
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAE8;
        
    }
}