#nav_list ul li {
/*{display: inline-block;
border: 3px solid navy;
width: 150px;
list-style-type: none;
padding: 15px 15px 15px 25px;
margin-top: 0;
    margin-left: 10px;}*/
text-align: center;
font-family: sans-serif
}
#nav_list ul{
    display: inline-block;
    list-style: none;
    margin: 2px  0 0;
    width: 100%;
}
#nav_list li a {
    font-size: 1.3em;
	color: black;
	float: left;
	text-decoration:none;
    border: 2px solid black;
	margin: 0 10px 0 0;
	padding: 10px 5px 10px 5px;
}
#nav_list a:hover{
	color: white;
    background-color: black;
}
nav {

}