h1 {
    color:#0099ff; }
footer {
    font-size:10pt
    a:link {color:aqua}
    :hover {color:cornflowerblue}
    :focus {color:deeppink}
    :visited {color:cadetblue}
    :active {color:darkgrey}
    {text-decoration: none; font-size 10pt}
}
