img {
    float: left;
    clear: left;
    margin-right: 20px;
    padding: 10px;
}
h1 {
    color:#0033ff;
    font-family: sans-serif;
    font-size: 24pt;
    background-color:#f1f1f1;
    border: 2px solid #0033ff;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
h2 {
}
h3 {
    font-family:sans-serif;
    color:#0099ff;
}
h4 {
    font-family:sans-serif;
    font-size: 14px;
}
h5 {
    font-family: sans-serif;
    font-size:20px;
    text-align: center
}
ul {margin-left: 12em;
}
body p{
    font-family: sans-serif;
}
body {
    background-color:#f1f1f1;
    margin:15px
}
.past {
    color:darkgray;
}
.current {
    color:dodgerblue;
}
footer {
    font-size: 9pt;
    border-top: 2px solid black;
    padding-top: 5px;
}
    :link {color:cornflowerblue}
    footer a:hover {color:green}
    footer a:focus {color:deeppink}
    footer a:visited {color:cadetblue}
    footer a:active {color:darkgrey}
    footer a {text-decoration: none; font-size: 10pt}
